.about-background {
    background-image: url(../Images/future.png);
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
}

#about-header {
    font-size: 64px;
    color: #ecf0f1;
    text-align: center;
    background-color: transparent;
}

#about-h2 {
    font-size: 26px;
    text-align: center;
}

#about-h3 {
    font-size: 20px;
    color: #ecf0f1;
    text-align: center;
    margin: 20px;
    background-color: transparent;
}

#esports {
    font-size: 20px;
    color: red;
    border-bottom: 1px solid red;
}

.statement {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url(../Images/statement.jpg);
    height: 700px;
    text-align: center;
    margin-top: -20px;
}

#statement-title {
    font-family: monospace;
    font-size: 36px;
    padding-top: 50px;
}

#statement-para {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 24px;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
}

#loved {
    margin-top: -2px;
    font-size: 42px;
}

.checked {
    color: orange;
  }

#support {
    text-align: center;
    font-size: 48px;
    color: antiquewhite;
}

.games {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 220px;
}

.game-img {
    height: 150px;
    width: 250px;
}

@media screen and (max-width: 700px) {
    #about-header {
        font-size: 36px;
    }

    .statement {
        justify-content: space-between;
        height: 500px;
    }

    #statement-title {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 24px;
    }

    #statement-para {
        font-size: 16px;
    }

    .rating {
        font-size: 20px;
    }

    #loved {
        font-size: 16px;
    }

    #support {
        font-size: 36px;
    }

    .games {
        height: 120px;
    }

    .game-img {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 500px) {
    
    #about-header {
        font-size: 24px;
    }

    #statement-title {
        color: #ecf0f1;
        font-size: 18px;
    }

    #statement-para {
        color: #ecf0f1;
        font-size: 14px;
    }

    .rating {
        margin-top: -60px;
        font-size: 18px;
    }
    
    #loved {
        color: #ecf0f1;
        font-size: 14px;
    }

    #support {
        font-size: 24px;
    }

    .games {
        height: 100px;
    }

    .game-img {
        height: 80px;
        width: 80px;
    }
}