.countdown {
  background-image: url(../Images/countdown.jpg);
  height:120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  background-color: transparent;
  margin-top: -43px;
}

h1 {
  font-size: 64px;
    color: #ecf0f1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    background-color: transparent;
    padding: 40px;
}

h2 {
  font-size: 28px;
    color: white;
    text-align: center;
    background-color: transparent;
    margin-top: -75px;
}

 p {
   font-size: 24px;
 }

 span {
   font-size: 16px;
 }

@media screen and (max-width: 700px) {
  .countdown-el {
    font-size: 8px;
  }
}